{% extends 'base.html' %}
{% block content %}

<!-- {% for post in posts %}
    <h2>{{post.title}}</h2>
    <h6>{{post.updated_at | timesince}} ago | {{post.author}}</h5>
    <img src="{{post.featured_image.url}}" alt="thumbnail" style="width: 500px;">
    <h4>{{post.short_description | truncatechars:50}}</h3>
    <h5>{{post.blog_body}}</h5>
    <br><hr><br>
{% endfor %} -->

    <main class="container">


        <div class="row mb-2">
            <!-- featured posts -->
                   <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Category - {{category}}
                </h3>
            {% if posts %}
            {% for post in posts %} 
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{post.title}}</h3>
                        <div class="mb-1 text-body-secondary">{{post.created_at | timesince}} ago | {{post.author}}</div>
                        <p class="mb-auto">{{post.short_description | truncatewords:20 }}</p> <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#chevron-right"></use>
                            </svg> </a>
                    </div>
                   <div class="col-auto d-none d-lg-block">
            <img
                src="{{ post.featured_image.url }}"
                width="200"
                height="250"
                style="object-fit: cover;"
                alt="{{ post.title }}"
            >
        </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>NO POSTS FOUND</p>
            {% endif %}
        </div>

                </div>
            </div>
        </div>
    </main>

{% endblock %}