{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}


<div class="row">
    <!-- Left SideBar -->
    {% include 'dashboard/sidebar.html' %}

    <!-- Right SideContent -->
    <div class="col-md-8">
        <h3>Edit Post</h3>
        <form action="{% url 'edit_post' post.pk %}" method="POST" style="width: 500px;" enctype="multipart/form-data">
            {% csrf_token %}    
            {{ form | crispy }}
            <br>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>



{% endblock %}