{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}


<div class="row">
    <!-- Left SideBar -->
    {% include 'dashboard/sidebar.html' %}

    <!-- Right SideContent -->
    <div class="col-md-8">
        {% if perms.auth.edit_user %}
        <h3>Edit User</h3>
        <form action="{% url 'edit_user' user.pk %}" method="POST" style="width: 500px;">
            {% csrf_token %}    
            {{ form | crispy }}
            <br>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        {% else %}
        <h5 class="text-danger">You do not have the permission to view this page.</h5>
        {% endif %}
    </div>
</div>



{% endblock %}